# ----------------------------------------
# WAMP / LAMP Docker Stack Configuration
# ----------------------------------------

# Web Server Settings
WEB_PORT=8081

# MySQL Settings
MYSQL_DATABASE=mydb
MYSQL_USER=user
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root_secret
MYSQL_PORT=3306

# PostgreSQL Settings
PG_DATABASE=mydb
PG_USER=user
PG_PASSWORD=secret
PG_PORT=5432

# MongoDB Settings
MONGO_DATABASE=mydb
MONGO_USER=user
MONGO_PASSWORD=secret
MONGO_PORT=27017

# Admin Tools Settings
# phpMyAdmin
PMA_PORT=8080

# pgAdmin
PGADMIN_PORT=8082
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# Mongo Express
MONGO_EXPRESS_PORT=8083
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=admin
